@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    overflow: hidden;
}
.gameBoard{
    background-color: #2D2727;
    border-radius: 2%;
    height: 70%;
    width: 60%;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    gap: 5px;
}
.game{
    position: relative;
    left: 20%;
    margin-top: 2%;
}
.mainMenu{
    text-align: center;
    background-color: #C8B6A6;
    position: fixed;
    padding: 2%;
    left: 37%;
    top: 15%;
    border-radius: 4%;
    z-index: 9;
}
p, option, label, select, input, h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: #2D2727;
    font-size: 2rem;
}
h1{
    font-size: 4rem;
}
select, option{
    margin-bottom: 20px;
    border: solid 3px #2D2727;
    border-radius: 10%;
}
input[type=radio]{
    border: 0px;
    width: 10%;
    height: 0.7em;
}

.cell{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    background-color: white;
    color: white;
    border-radius: 10%;
    font-size: 2rem;
    height: 3rem;
    width: 4rem;
}
.cell:hover{
    background-color: #0E8388;
    color: white;
    cursor: pointer;
}
.player{
    color: #0E8388;
}
.enemy{
    color: #DF2E38;
}
.btn{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    background-color: #2D2727;
    color: white;
    border-radius: 20%;
    height: 4rem;
    width: 10rem;
    margin-top: 20px;
}
.btn:hover{
    background-color: white;
    color:  #2D2727;
    border: solid 3px #2D2727;
}
.hidden{
    display: none;
}